@import 'assets/imports.styl'

@import 'css-assets/general'
@import 'css-assets/elements'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

c-lightBlue = #61dcff

body
  background white

.tagged
  float left
  margin-right gs
.tagged-text
  margin-left 7*gs
  line-height 20px

.post
  .h2-thumb
    img
      display none

.single-post-thumbnail
  display none

.calendar-period
  margin-bottom 2*gs

.calendar-table
  width 100%
  padding-right 8*gs
  .post
    padding-bottom 0
  table
    width 100%
  tr
    width 100%
    padding 2*gs
    &:nth-of-type(odd)
      background #F5FBFD

  td
    padding gs

.user-thumb
  overflow hidden
  margin-bottom 4*gs
  &__avatar
    float left

  &__text
    margin-left 8*gs
    padding-right 6*gs
    line-height 20px

.post-thumb
  overflow hidden
  & + .post-thumb
    margin-top 4*gs
  .h2-thumb
    float left
    img 
      rect 14*gs
      display block
  img
    display none
  &__text
    margin-left 16*gs
    margin-top - 1.5*gs
    margin-right 6*gs
    line-height 24px
    &__meta
      font-size 12px
      a
        color c-lightBlue
  &__meta-bit
    padding 0 gs
    & + .post-thumb__meta-bit
      border-left 2px solid #f1f1f1
    &:first-of-type
      padding-left 0
  .post--header
    font-size 20px
    margin-bottom gs
    display block
.blog-p
  &--core
    margin-left 40*gs II


#archives-title
  margin-bottom 4*gs
  display block
  font-size 24px
  border-bottom 2px solid #f1f1f1
  padding-bottom 1.5*gs
  // margin-left 400px
  max-width 720px

/* 3d1b1302ecf8441b0d6403758eaf80ee */
.post
  text-align center
  position relative
  padding-top 1px
  max-width 75*gs
  color #44596e
  min-width 43*gs
  display inline-block
  &--title
    position absolute
    fill #e2e2e2
    right 0
    top 0
    rect 36px
    z-index 0
  &--header
    font-size 36px
    line-height 4*gs
    text-transform uppercase
    font-weight 600
    margin-top    (gs/2)
    margin-bottom 4*gs
    position relative
    z-index 1
  &--date
    font-size 20px
    line-height 24px
    margin-bottom 2.5*gs
    font-weight 300
  img
    max-width 100%
    height auto
    margin-bottom gs
    display block
  a
    color #61dcff
    &:hover
      cursor pointer
      text-decoration underline
  &--header
    a
      color #425970
  p 
    text-align left
    font-size 18px
    line-height 26px
    word-wrap pre
    a
      display inline-block

    & + p
      margin-top 2*gs

  blockquote
    margin 2*gs 0
    p
      font inherit

  .share
    display inline-block
    margin-top 5.5*gs

  &--footer
    margin-top 3*gs
    text-align center
    &--section
      width (100/3)%
      float left
      & + &
        .post--footer--section--content
          position relative
          &:before
            content ''
            position absolute
            left 1px
            height 2*gs
            border-left 1px solid #44596e
          // border-left 1px solid #44596e
      &--content
        text-align left
        padding-left gs
        font-size 18px
        font-weight 100
        display inline-block

  .post--footer--section
    padding-right gs
    width (100/3)%
    text-align center
    text-align left

// MOVE
.post
  padding-bottom 2*gs
  p + img
   margin-top gs

  img
    max-width 100%

.comment
  &--text
    p
      display inline


.share
  .icon
    position relative
    overflow hidden
    iframe, .fb-share-button,
    & > div, & > span
      position absolute
      z-index 1
      display block
      width 100%
      transform scale(2)
      transform-origin left top
      opacity 0
    & > div, & > span
      left -90%

.comment-respond
  margin-top 5*gs

#disqus_thread
  margin-top 2*gs

.blog-p--sidebar
  text-align left
  li + li
    margin-top: (gs/2)

.nav-previous, .nav-next
  display block
  float left
  &:hover
    cursor pointer
    text-decoration underline
.nav-next
  float right
#nav-below
  // margin-left 7*gs
  margin-top 4*gs
  display block
  padding 0
  margin-bottom 8*gs
  float left
  width 100%
  text-align left
  // display inline-block
  &:hover
    cursor pointer

.index
  .loop-item-show-allways
    & + .loop-item-show-allways
      margin-top 3*gs


.l-h-x3-g
  line-height 3*gs

.l-h-x2-5-g
  line-height 2.5*gs

.l-h-x2-25-g
  line-height 2.25*gs

.search-input
  max-width 76*gs



